*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: #fff;
}
header{
    height: 250px;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://www.indiaenigma.com/storage/destination/parallax/small/river-rafting-in-rishikesh.jpg");
    background-size: cover;

}
header h1{
    text-decoration: underline;
    margin-top: 0;
    padding-top: 50px;
    font-size: 4em;
}
header p{
    font-weight: bold;
    font-size: 1.5em;
}
.navbar{
    background-color:rgb(250, 86, 86) ;
    padding: 1px 0;
}
.navbar ul{
    list-style-type: none;
    text-align: center;
    position: relative;
    left:-35px;
}
.navbar ul li{
    display: inline-block;
    margin: 0 5px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease;

}
.main{
    padding-top: 10px;
    background-color: rgb(46, 46, 46);
    padding-bottom: 10px;
}
.main h2{
    text-decoration: underline;
    font-size: 1.8em;
    
}
.contact{
    float: left;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 12px;
    width: 18%;
    border-radius: 15px;
    background-color: rgb(65, 64, 64);
    margin-left: 2%;
    margin-top: 40px;
    transition: 0.4s ease;
}
.contact:hover{
    transform:scale(1.1);
    box-shadow: 0 0 10px 2px #fff;
}
.contact h2{
    text-align: center;
}
.contact ol{
    list-style-type: lower-roman;
}
.contact ol li{
    line-height: 1.3em;
    margin-bottom: 8px;
}
.details{
    width: 55%;
    margin: 10px auto;
    text-align: center;
    padding: 5px 0 20px 0;
}
.details table{
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgb(65, 64, 64) ;
    width: 55%;

}
.details table th,td{
    border-bottom: 1px solid;
    padding: 20px;
}
.details table thead{
    background-color: rgb(92, 91, 91);
}
.details table tr:hover{
    background-color: rgb(114, 113, 113);
}
.form{
    width: 100%;
    padding-top: 10px;
}
.form h2,h3{
    text-align: center;
    padding-bottom: 5px;
}
.form h3{
    padding-bottom: 15px;
}
.form form{
    padding: 0 25%;
    font-size: 1.2em;

}
.left{
    float: left;
}
.right{
    float: right;
}
input,select,textarea, button{
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}
input[type = text],input[type=number],input[type = date],input[type= email],textarea
{
    width: 300px;
    font-size: 0.8em;
    resize: none;
    margin: 6px 0;
    padding: 6px;
}
input[type = date]{
    font-size:0.7em;
}
select{
    width: 310px;
    font-size: 0.8em;
    padding: 3px;
    margin: 6px 0; 
}
button{
    padding: 10px 50px;
    margin: 20px 5px;
    font-weight: bold;
    transition: 0.3s ease;
    border-width: 2px;
    font-size: 14px;
}
button[type = submit]{
    border-color: transparent;
    background-color: rgb(0, 255, 0);
    box-shadow:  0 0 10px 1px rgb(0, 255, 0);
    position: relative;
    left :170px;

}
button[type = reset]{
    border-color: transparent;
    background-color: rgb(255, 44, 44);
    box-shadow:  0 0 10px 1px rgb(255, 44, 44);
    position: relative;
    left: 170px;
}
label{
    font-weight: 300;
}
button[type = submit]:hover{
    border-color: rgb(0, 255, 0);
    background-color: transparent;
    color:rgb(3, 255, 3);
}
button[type = reset]:hover{
    border-color: rgb(255, 0, 0);;
    background-color: transparent;
    color:rgb(255, 0, 0);;
}
a:hover{
    background-color: #fff;
    color: rgb(250, 86, 86);
}
footer{
    background-color: rgb(32, 32, 32);
    color: #fff;
    height: 50px;
    text-align: center;
    padding-top: 6px;
    width: 100%;
}
#package{
    margin-top: 2px;
}